# exportPattern("^[[:alpha:]]+")

# S3 methods
S3method(plot, czek_matrix)
S3method(print, czek_matrix)
S3method(print, czek_matrix_dist)
S3method(manual_reorder, czek_matrix)
S3method(manual_reorder, czek_matrix_dist)
S3method(manual_reorder, matrix)
S3method(manual_reorder, data.frame)
S3method(manual_reorder, dist)

# exported functions
export(czek_matrix, manual_reorder, plot.czek_matrix, print.czek_matrix, print.czek_matrix_dist, Um_factor, cluster_dist)

# Import all packages listed as Imports or Depends
importFrom(GA, ga, gaControl)
importFrom(graphics, axis, barplot, box, legend, par, plot)
importFrom(methods, as, is)
importFrom(seriation, criterion, get_order, seriate)
importFrom(stats, as.dist, dist, ecdf, quantile)
importFrom(e1071, cmeans)
importFrom(ecp, e.divisive)
importFrom(RColorBrewer, brewer.pal)
importFrom(utils, read.csv)
## importFrom(utils, installed.packages)
